body{
    text-align: center;
}
header {
    background-color: rgba(245, 178, 177, 0.5);
}
  
  main {
    background-color: rgba(#5F6A6A);
}
  
  footer {
    background-color: rgba(201, 187, 155, 0.5);
}