body{
    text-align: center;
    margin: 0px;
}
header {
    position: fixed;
    height: 50px;
    top: 0px;
    width: 100%;
    background-color: cadetblue;
    opacity: 75%;
}
  
  main {
    margin-top: 24px;
    background-color: rgba(#5F6A6A);
}
footer {
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 85%;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
h2{
    text-align: center;
    margin-bottom:100px;
}