
a{
    color: #19a1f0;
}
a:hover{
    color: #41d8d8;
}
a.botwotuika:hover{
    opacity: 60%;
}
a.page-contents{
    color: #000;
    text-decoration:none;
}
a.page-contents:hover{
    color: rgb(192, 192, 192);
    text-decoration:none;
}
body{
    text-align: left;
    left: 50px;
    margin: 0px;
    font-size: 18px;
}
header {
    text-align: center;
    position: fixed;
    height: 50px;
    top: 0px;
    width: 100%;
    background-color: #971d1d;
    opacity: 90%;
} 
  
 main {
    left: 50px;
    margin-left: 50px;
    margin-top: 45px;
    background-color: rgba(#5F6A6A);
}
footer {
    position: fixed;
    right: 15px;
    bottom: 10px;
    opacity: 85%;
    
}
footer:hover{
    opacity: 60%;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#top{
    opacity: 0%;
}
/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
    background-color: #971d1d; /* バーの背景色(濃い赤色) */
 }
 
 /* -------------------------- */
 /* ▼メインメニュー項目の装飾 */
 /* -------------------------- */
 ul.ddmenu li {
    width: 125px;           /* メニュー項目の横幅(125px) */
    display: inline-block;  /* ★1:横並びに配置する */
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
 }
 ul.ddmenu a {
    background-color: #971d1d; /* メニュー項目の背景色(濃い赤色) */
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    display: block;            /* ★4:項目内全域をリンク可能にする */
 }
 ul.ddmenu a:hover {
    background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: #971d1d;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
 }
 
 /* ▼サブメニューは、とりあえず非表示にしておく */
 ul.ddmenu ul {
    display: none;         /* ★5:非表示にする */
 }
 /* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
    display: none;       /* ★1:標準では非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
    position: absolute;  /* ★4:絶対配置にする */
 }
 
 /* ---------------------------------- */
 /* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
 /* ---------------------------------- */
 ul.ddmenu li:hover ul {
    display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
 }

 /* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {   /* ※A */
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
 }
 ul.ddmenu ul li a {   /* ※B */
    line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    padding-left: 5px;   /* 文字列前方の余白(5px) */
    font-weight: normal; /* 太字にはしない */
 }
 ul.ddmenu ul li a:hover {   /* ※C */
    background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
 }
